/* 
RESPONSIVE BAGIAN HEADER @IHSAN
*/

@media (min-width: 767px) {
    .header {
        background: #fff;
    }
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        display: flex;
        justify-content: center;
        max-height: none;
        background: #fff !important;
    }
    .header .menu li {
        border-bottom: 0 !important;
    }
    .header .menu li a {
        text-align: center;
    }
    .header .menu li a span i {
        left: 45% !important;
    }
    .header .menu-icon {
        display: none;
    }
}